/* Asterisk wildcard selector to override default styles from browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3b3b3b;
}

/* Header */
header {
    background-color: black;

}

/* Main content */
main {
    background-color: darkgray;
    /* Let main element use all available space to push footer to bottom */
    flex: 1 0 auto;

}

/* Footer */
footer {
    background-color: darkolivegreen
}