/* Google fonts import : font-family: 'Lato', sans-serif, font-family: 'Poor Story', system-ui;*/

  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poor+Story&display=swap');



/* Asterisk wildcard selector to override default styles from browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3b3b3b;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: rgba(59, 59, 59, .8);
    padding: 0 1rem;
    display: flex;
    position: fixed;
    width: 100%;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    align-items: end;

}

header a {
    text-decoration: none;
    color: inherit;
}
/* Logo */

#logo {
    font-family: 'Poor Story', system-ui;
    margin-left: 10px;
    color: whitesmoke;
    font-size: 200%;
    text-transform: uppercase;
    letter-spacing: 3px;
    align-items: center;
}


/* Menu */
#menu {
    list-style-type: none;
    color: whitesmoke;
    font-size: 100%;
    letter-spacing: 4px;

}

#menu>li {
    margin-bottom: 1em;

}


/* Main content */
main {
    background-color: darkgray;
    /* Let main element use all available space to push footer to bottom */
    flex: 1 0 auto;

}

/* Footer */
footer {
    background-color: darkolivegreen
}

